extends ../base/index
include ../../components/form/index
include ../../components/header/index

block title
	| О нас

block header
	+header({
		white: true,
		active: 'about'
	})

block content
	include ../../components/about/index
	//include ../../components/directions/index
	//include ../../components/our-team/index
	//include ../../components/our-customers/index
	//include ../../components/reviews/index
	//include ../../components/how-it-works/index
	//include ../../components/it-might-be-interesting/index
	//include ../../components/our-project/index
	//+form({
	//	img: 1,
	//	title: 'Связаться с командой',
	//	opacity: true
	//})
