extends ../base/index
include ../../components/teaser/index
include ../../components/form/index
include ../../components/header/index
include ../../components/our-examples/index

block title
	| VR/AR для маркетинга

block header
	+header({
		white: false
	})

block content
	+teaser({
		title: 'виртуальная реальность <br> для маркетинга',
		sectionClass: 'teaser_for-marketing',
		text: 'Используем максимум возможностей современных технологий, чтобы сделать WOW!',
		teaserImgClass: 'teaser-img-3'
	})
	include ../../components/for-marketing-tiles/index
	include ../../components/our-guarantees/index
	+sectionWithExamples({
		title: 'ПРИМЕРЫ наших работ в маркетинге',
		examples: [
			{
				exampleTitle: 'VR-кинотеатр для презентации автоконцерна GEELY',
				descriptionItems: [
					'Geely Auto Group - один из крупнейших мировых производителей автомобилей со штаб-квартирой в Китае. Компания продала 1,24 миллиона автомобилей за 2017 год и стремительно завоевывает российский авторынок.',
					'Задача: создать VR-кинотеатр с использованием 50-ти шлемов виртуальной реальности в московском дилерском центре автобренда. Контент, который нам предстояло воспроизводить, был получен нами заранее от заказчика. Это были три ролика 360°, которые рассказывали об основных ценностях Geely: заботе о персонале, истории и ценностях автобренда. Контент на каждом из шлемов был проверен и адаптирован для показа специалистами Sintez Event.',
					'Для реализации проекта мы использовали шлемы Oculus Go. Он с легкостью воспроизводит видео формата 360° в разрешении 4K, и обращаться с ним проще, чем с любым современным смартфоном. Важным достоинством Oculus Go является его небольшой вес, что очень удобно для транспортировки.'
				],
				summaryItemLeft: 'Как долго мы это создавали?<br>На согласование, адаптацию контента и подготовку оборудования - 2 дня.',
				summaryItemRight: 'Что ещё мы могли бы сделать?<br>- 50-100 VR-шлемов<br>- Интерактивные видео<br>- Презентация авто в VR'
			},
			{
				exampleTitle: 'VR-бензопила на реальной выставке STIHL',
				descriptionItems: [
					'Перед нами предстала интересная задача: используя VR-приложение STIHL, совместить виртуальную бензопилу с реальной.',
					'Быть лидером лесопильной промышленности не просто — нужно постоянно удивлять, вдохновлять и быть примером для конкурентов. VR это отличный способ визуализации возможностей техники, особенно если её специфика использования не дает этого делать вне определенных рамок.',
					'Как перенести мгновенно человека на лесную опушку в самом центре Москвы? Как дать менеджеру компании в деловом костюме опробовать в действии пилу своими руками, не испачкав его опилками и не заставляя его примерять специальные средства защиты?',
					'Со всем этим легко справляется технология виртуальной реальности. Стенд с лозунгом «VR STIHL впервые в России» стал главным козырем для привлечения новых клиентов, создавая WOW-эффект на протяжении всех дней работы.',
					'Для реализации данной задачи мы применили специальный девайс — трекер Vive, позволяющий переносить объекты с заданными размерами в виртуальную реальность. Любой желающий смог ощутить себя реальным вальщиком леса, разрезая стволы деревьев настоящей бензопилой. Преимущество использования VR состоит в том, что процесс интуитивно понятен и каждый человек мог потренироваться, практикуясь с пилой без риска производственных травм.'
				],
				summaryItemLeft: 'Как долго мы это создавали?<br>На согласование и подготовку оборудования – 1 день.',
				summaryItemRight: 'Что ещё мы могли бы сделать?<br>- Вибрация бензопилы<br>- Реальные эффекты (ветер, звук, антураж)<br>- Перенести в VR другое оборудование'
			}
		]
	})
	//include ../../components/implementation-options/index
	//+form({
	//	img: 3,
	//	title: 'Получите презентацию',
	//	subtitle: 'с решением для вашего мероприятия'
	//})
	//include ../../components/it-might-be-interesting/index