extends ../base/index
include ../../components/teaser/index
include ../../components/form/index
include ../../components/header/index
include ../../components/our-examples/index

block title
	| VR/AR для маркетинга

block header
	+header({
		white: false
	})

block content
	+teaser({
		title: 'виртуальная реальность <br> для маркетинга',
		sectionClass: 'teaser_for-marketing',
		text: 'Используем максимум возможностей современных технологий, чтобы сделать WOW!',
		teaserImgClass: 'teaser-img-3'
	})
	include ../../components/for-marketing-tiles/index
	include ../../components/our-guarantees/index
	+sectionWithExamples({
		title: 'ПРИМЕРЫ наших работ в маркетинге',
		examples: [
			{
				exampleTitle: 'VR-игра для мероприятий группы «ИЛИМ»',
				descriptionItems: [
					'Основные требования заказчика состояли в том, чтобы отразить стилистику компании и основные парадигмы: показать через игру, что группа «Илим» заботится и о природе (обеспечивая возобновляемость ресурсов), и о сотрудниках компании (акцентируя внимание на соблюдении всех норм техники безопасности на производстве).',
					'Сценарий игры: игроку предстояло надеть виртуальный реактивный ранец и совершить полет на предприятиях группы «Илим», попутно собирая в воздухе вращающиеся бревнышки в качестве сырья для изготовления целлюлозы. При совершении маневров нужно было облетать деревья, избегая столкновений. Путь к финишу пролегал через два предприятия группы «Илим»:',
					'- На первом игрок мог почувствовать себя инженером, нажимая кнопки на пульте, которые запускали процесс производства целлюлозы;<br>- На второй локации из полученного материала игрок изготавливал гофрокартон;<br>- А в конце игры участника ожидало креативное задание: выбрать приз и раскрасить его как душа пожелает.',
					'Особое внимание было уделено брендированию приложения:',
					'- На виртуальных перчатках игрока были изображены логотипы «Илим»;<br>- В конце путешествия игрок крепил на свое виртуальное картонное изделие наклейку «Илим».'
				],
				summaryItemLeft: 'На согласование, разработку и тестирование приложения ушло 2 месяца',
				summaryItemRight: 'Что ещё мы могли бы сделать?<br>- VR-процесс производства продукции<br>- Распечатать на 3D-принтере сувениры из игры<br>- Мультиплеер'
			},
			{
				exampleTitle: 'VR-игра для мероприятий группы «ИЛИМ»',
				descriptionItems: [
					'Основные требования заказчика состояли в том, чтобы отразить стилистику компании и основные парадигмы: показать через игру, что группа «Илим» заботится и о природе (обеспечивая возобновляемость ресурсов), и о сотрудниках компании (акцентируя внимание на соблюдении всех норм техники безопасности на производстве).',
					'Сценарий игры: игроку предстояло надеть виртуальный реактивный ранец и совершить полет на предприятиях группы «Илим», попутно собирая в воздухе вращающиеся бревнышки в качестве сырья для изготовления целлюлозы. При совершении маневров нужно было облетать деревья, избегая столкновений. Путь к финишу пролегал через два предприятия группы «Илим»:',
					'- На первом игрок мог почувствовать себя инженером, нажимая кнопки на пульте, которые запускали процесс производства целлюлозы;<br>- На второй локации из полученного материала игрок изготавливал гофрокартон;<br>- А в конце игры участника ожидало креативное задание: выбрать приз и раскрасить его как душа пожелает.',
					'Особое внимание было уделено брендированию приложения:',
					'- На виртуальных перчатках игрока были изображены логотипы «Илим»;<br>- В конце путешествия игрок крепил на свое виртуальное картонное изделие наклейку «Илим».'
				],
				summaryItemLeft: 'На согласование, разработку и тестирование приложения ушло 2 месяца',
				summaryItemRight: 'Что ещё мы могли бы сделать?<br>- VR-процесс производства продукции<br>- Распечатать на 3D-принтере сувениры из игры<br>- Мультиплеер'
			}
		]
	})
	include ../../components/implementation-options/index
	+form({
		img: 3,
		title: 'Получите презентацию',
		subtitle: 'с решением для вашего мероприятия'
	})
	include ../../components/it-might-be-interesting/index