section.teaser.wrapper
	.teaser__inner.wrapper__inner
		.teaser__content
			h1.title_big Уникальное предложение для компаний
			p.teaser__content-text Краткий текст о том кто вы и чем занимаетесь, а то на главной странице 0 информации, желательно не больше 2 строк
			.teaser__links
				a.teaser__link.btn.btn_accent(href="/teaser") Рассчатать стоимость
				a.teaser__link.btn.btn_white(href="/teaser") Получить презентацию
	.teaser__img.teaser__ar-vr
		include ar-vr.svg
	img.teaser__img.teaser__uniq-offer(src=require(`../../components/teaser/uniq-offer.png`))
