section.teaser.teaser_uniq-offer.wrapper
	.teaser__inner.wrapper__inner
		.teaser__content
			h1.title_big ВИРТУАЛЬНАЯ
				br
				| И ДОПОЛНЕННАЯ
				br
				| РЕАЛЬНОСТЬ ДЛЯ БИЗНЕСА
			p.teaser__content-text Предлагаем полный спектр решений с VR и AR: от аренды оборудования до разработки уникальных приложений
			.teaser__links
				a.teaser__link.btn.btn_accent(href="/teaser") Рассчатать стоимость
				a.teaser__link.btn.btn_white(href="/teaser") Получить презентацию
		img.teaser__img.teaser__uniq-offer(src=require(`../../components/teaser/uniq-offer.png`))
	.teaser__img.teaser__ar-vr
		include ar-vr.svg