@import "../../styles/varialbes"
.teaser
  position: relative

.teaser_index
  height: 765px

.teaser_solutions
  height: 724px

.teaser__inner
  position: relative
  z-index: 1
  margin:
    top: 4rem

.teaser__content
  width: 570px

.teaser__content-text
  color: $gray-color
  line-height: 22px
  width: 540px
  margin:
    top: 1.6rem
    bottom: 2.8rem

.teaser__links
  display: flex

.teaser__link
  margin:
    right: 1.4rem
  &:last-of-type
    margin:
      right: 0

.teaser__img
  position: absolute

.teaser-right-img
  width: 785px
  height: 765px
  top: -4rem

.teaser-img-1
  right: -10rem
  background:
    image: url('../../components/teaser/teaser-img-1.png')

.teaser-img-2
  right: -7rem
  background:
    image: url('../../components/teaser/teaser-img-2.png')

.teaser__ar-vr
  left: 0
  top: 10.7rem