mixin teaser(props)
	-var {title, sectionClass, text, teaserImgClass} = props
	section.teaser.wrapper(class=sectionClass)
		.teaser__inner.wrapper__inner
			.teaser__content
				h1.title_big !{title}
				p.teaser__content-text=text
				.teaser__links
					a.teaser__link.btn.btn_accent(href="/teaser") Рассчатать стоимость
					a.teaser__link.btn.btn_white(href="/teaser") Получить презентацию
			.teaser__img.teaser-right-img(class=teaserImgClass)
		.teaser__img.teaser__ar-vr
			include ar-vr.svg