extends ../base/index
include ../../components/header/index
include ../../components/our-examples/index

block title
	| Статья

block header
	+header({
		white: false
	})

block content
	+sectionWithExamples({
		examples: [
			{
				exampleTitle: 'VR-кинотеатр для презентации автоконцерна GEELY',
				descriptionItems: [
					'Geely Auto Group - один из крупнейших мировых производителей автомобилей со штаб-квартирой в Китае. Компания продала 1,24 миллиона автомобилей за 2017 год и стремительно завоевывает российский авторынок.',
					'Задача: создать VR-кинотеатр с использованием 50-ти шлемов виртуальной реальности в московском дилерском центре автобренда. Контент, который нам предстояло воспроизводить, был получен нами заранее от заказчика. Это были три ролика 360°, которые рассказывали об основных ценностях Geely: заботе о персонале, истории и ценностях автобренда. Контент на каждом из шлемов был проверен и адаптирован для показа специалистами Sintez Event.',
					'Для реализации проекта мы использовали шлемы Oculus Go. Он с легкостью воспроизводит видео формата 360° в разрешении 4K, и обращаться с ним проще, чем с любым современным смартфоном. Важным достоинством Oculus Go является его небольшой вес, что очень удобно для транспортировки.'
				],
				summaryItemLeft: 'Как долго мы это создавали?<br>На согласование, адаптацию контента и подготовку оборудования - 2 дня.',
				summaryItemRight: 'Что ещё мы могли бы сделать?<br>- 50-100 VR-шлемов<br>- Интерактивные видео<br>- Презентация авто в VR'
			}
		]
	})