@import "../../styles/varialbes"

.simple-form
  width: 423px
  display: flex
  flex-flow: column
  background:
    color: $accent-color
  padding: 3rem
  +border-radius

.simple-form__title
  text-align: center
  color: $white-color
  font:
    weight: 700
  letter-spacing: -.02rem
  margin:
    bottom: 2rem