mixin simpleForm()
	form.simple-form
		fieldset.form__fieldset
			legend.simple-form__title  Подпишитесь на нашу рассылку:
			input.form__input.input.input_name(placeholder="Имя" required)
			input.form__input.input(type="email" placeholder="Email" required)
			button.form__btn.btn.btn_white Отправить