@import "../../../node_modules/swiper/dist/css/swiper.min.css"
@import "../../styles/varialbes"

.carousel
  overflow: hidden

.swiper-outer
  position: relative

.swiper-container
  width: calc(#{$min-width} - 20px*2)

.swiper__arrow
  width: 1.3rem
  height: 1rem
  background:
    image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='23' fill='none'%3E%3Cpath fill='%23EF4C4C' d='M21.205 1.007a1.112 1.112 0 0 0-1.587 0 1.12 1.12 0 0 0 0 1.571l8.047 8.047H1.111A1.106 1.106 0 0 0 0 11.737c0 .619.492 1.127 1.111 1.127h26.554l-8.047 8.032c-.429.444-.429 1.159 0 1.587a1.112 1.112 0 0 0 1.587 0l9.952-9.952a1.093 1.093 0 0 0 0-1.571l-9.952-9.953z'/%3E%3C/svg%3E")
    position: center
    repeat: no-repeat
    size: cover
  position: absolute
  z-index: 1
  top: 50%
  transform: translate(0, -50%)
  +hoverOpacity
  cursor: pointer

.swiper__arrow_next
  left: -3.8rem
  transform: translate(0, -50%) rotate(180deg)

.swiper__arrow_prev
  right: -3.8rem

.swiper-slide
  display: flex
  flex-flow: column
  height: 625px
  background-color: $gray-light-color
  &:hover
    .swiper-slide__img
      +hoverScale

.swiper-slide__img-wrapper
  display: flex
  align-items: center
  justify-content: center
  overflow: hidden
  position: relative
  height: 367px

.swiper-slide__img
  transition: $common-transition-duration
  position: absolute
  width: 100%

.swiper-slide__text-wrapper
  flex: 1
  padding: 0 2.5rem 1.5rem
  display: flex
  flex-flow: column

.swiper-slide__title
  font:
    size: 20px
    weight: 700
  margin:
    top: 1.5rem
    bottom: 1.5rem

.swiper-slide__text
  line-height: 20px
  max-height: 101px
  overflow: hidden

.swiper-slide__bottom
  display: flex
  flex: 1
  align-items: flex-end

.carousel__inner-link
  margin:
    top: 2.5rem