@import "../../styles/varialbes"

.our-services
  position: relative
  overflow: visible

.our-services__wrapper-inner
  position: relative
  z-index: 1

.our-services-wrapper
  display: flex
  flex-wrap: wrap
  position: relative

.our-services__service
  display: flex
  width: 50%
  margin:
    bottom: 5rem

.our-services__service-icon-wrapper
  margin:
    right: 3rem

.our-services__service-icon
  fill: $accent-color

.our-services__service-title
  letter-spacing: -.02rem
  font:
    size: 50px
    family: 'Bebas Neue', sans-serif
  margin:
    bottom: 2rem

.our-services__service-list
  display: flex
  flex-flow: column

.our-services__service-content
  flex: 1

.our-services__service-list-item
  font:
    size: 26px
  &:not(:last-of-type)
    margin:
      bottom: 2rem

.fireworks-ico
  width: 138px
  height: 153px

.robot-ico
  width: 153px
  height: 153px

.man-ico
  width: 153px
  height: 148px

.megaphone-ico
  width: 153px
  height: 153px

.our-services__ar-vr
  position: absolute
  pointer-events: none
  left: 0
  top: -2.5rem