mixin tiles(tiles)
	-for(var tile of tiles)
		.tiles__tile.tiles__tile_bottom-left
			.tiles__tile-title=tile.title
			.tiles__tile-subtitle=tile.subtitle
			img.tiles__tile-img(src=require(`../../components/tiles/${tile.image}.png`))

section.how-it-works.tiles.wrapper.padding-top
	.wrapper__inner
		h2.title КАК РАБОТАЕТ SINTEZ EVENT
	.how-it-works__tiles
		+tiles([
			{
				title: 'Мы - конечные исполнители',
				subtitle: 'В собственности 107 единиц оборудования',
				image: 'tile-1'
			},
			{
				title: 'Первопроходцы',
				subtitle: 'Провели крупнейшее событие в СПб на 50 шлемов',
				image: 'tile-2'
			},
			{
				title: 'Отпыт: 500+ VR-ивентов',
				subtitle: 'Знаете кого-то опытнее?',
				image: 'tile-3'
			},
			{
				title: 'Двигаемся вперёд',
				subtitle: 'Разрабатываем собственные игры и приложения',
				image: 'tile-4'
			},
			{
				title: 'Работаем с VIP аудиторией',
				subtitle: 'Мы постоянные участники частных мерпориятий',
				image: 'tile-5'
			},
			{
				title: 'Используем лучшее оборудование',
				subtitle: 'Найдёте лучше - мы его купим :)',
				image: 'tile-6'
			},
		])