extends ../base/index
include ../../components/header/index
include ../../components/teaser/index
include ../../components/industrial-tiles/index
include ../../components/form/index

block title
	| Ar

block header
	+header({
		white: false
	})

block content
	+teaser({
		title: 'ДОПОЛНЕННАЯ <br> РЕАЛЬНОСТЬ (AR)',
		sectionClass: 'teaser_for-marketing',
		text: 'Технология совмещения и наложения виртуального мира на реальное окружение - в целях работы и развлечения',
		teaserImgClass: 'teaser-img-3'
	})
	+industrialTiles({
		title: 'ВОЗМОЖНОСТИ AR',
		className: 'industrial-tiles-ar',
		tiles: [
			{
				title: 'Развлечения:<br> квесты и игры, совмещающие две реальности',
				id: 'balloons',
				image: 'industrial-tiles/industrial-tiles--ar-1.jpg'
			},
			{
				title: 'Обучение персонала:<br>  экономия на площадках, оборудовании, времени',
				id: 'idea',
				image: 'industrial-tiles/industrial-tiles--ar-1.jpg'
			},
			{
				title: 'Продажи:<br>  презентации, взаимодействие с потребителем',
				id: 'pig',
				image: 'industrial-tiles-big/industrial-tiles-real-estate.png'
			},
			{
				title: 'Маркетинг:<br>  от AR-флаеров до инфоповода',
				id: 'thumbs-up',
				image: 'industrial-tiles/industrial-tiles--ar-3.jpg'
			},
			{
				title: 'Индустриальные решения:<br>  возможно применения практически в каждой отрасли',
				id: 'production',
				image: 'industrial-tiles/industrial-tiles--ar-4.jpg'
			},
			{
				title: 'Для детей:<br>  книги, аттракционы, конструкторы, игрушки',
				id: 'bear',
				image: 'industrial-tiles/industrial-tiles--ar-5.jpg'
			}
		]
	})
	include ../../components/our-guarantees/index
	+form({
		img: 3,
		title: 'Получите презентацию',
		subtitle: 'с решением для вашего мероприятия'
	})
	include ../../components/it-might-be-interesting/index
