extends ../base/index
include ../../components/form/index
include ../../components/header/index
include ../../components/teaser/index

block title
	| Разработка

block header
	+header({
		white: false
	})

block content
	+teaser({
		title: 'СОЗДАЁМ VR/AR ПРИЛОЖЕНИЯ <br> И ИГРЫ ЛЮБОЙ СЛОЖНОСТИ',
		sectionClass: 'teaser_portfolio',
		text: 'Сделаем приложение и игру с использование виртуальной и дополненной реальности для любых задач вовремя и без головной боли',
		teaserImgClass: 'teaser-img-5'
	})
	include ../../components/development-services/index
