mixin tile(props)
	-var {title} = props
	.implementation-option__tile
		.implementation-option__tile-title=title
		.implementation-option__tile-description Geely Auto Group - один из крупнейших мировых производителей автомобилей со штаб-квартирой в Китае. Компания продала 1,24 миллиона автомобилей за 2017 год и стремительно завоевывает российский авторынок.: синхронный показ 360 видео в виртуальной реальности, VR-кинотеатр, но в итоге пришли к идее создания VR-приложения Осенью 2018 года к нам обратились официальные представители Geely с интересным запросом.
		.implementation-option__tile-summary
			.implementation-option__tile-summary-item
				.implementation-option__tile-summary-item-content.implementation-option__tile-summary-item-content_plus
					.implementation-option__tile-title Плюсы
					ul.implementation-option__tile-summary-item-content-list
						li.implementation-option__tile-summary-item-content-list-item Таймер на готовку пиццы
						li.implementation-option__tile-summary-item-content-list-item Таймер на готовку пиццы
						li.implementation-option__tile-summary-item-content-list-item Таймер на готовку пиццы
			.implementation-option__tile-summary-item
				.implementation-option__tile-summary-item-content.implementation-option__tile-summary-item-content_minus
					.implementation-option__tile-title Минусы
					ul.implementation-option__tile-summary-item-content-list
						li.implementation-option__tile-summary-item-content-list-item Таймер на готовку пиццы
						li.implementation-option__tile-summary-item-content-list-item Таймер на готовку пиццы
						li.implementation-option__tile-summary-item-content-list-item Таймер на готовку пиццы
		a(href="/implementation").implementation-option__tile-link.btn.btn_white Начать обсуждение

mixin option(cnt)
	-for(var i = 0; i < cnt; i++)
		.implementation-option
			.implementation-option__content.wrapper__inner
				.implementation-option__tiles
					+tile({
						title: 'Вариант 1 / На скорость'
					})
					+tile({
						title: 'Вариант 2 / Большой проект'
					})

section.development-options.implementation-options.wrapper
	.implementation-options__wrapper-inner.wrapper__inner
		h2.title.title_white Варианты воплощения
	.implementation-options-wrapper
		+option(1)