@import "../../styles/varialbes"

/*Разработка - варианты воплощения*/
.development-options
  position: relative
  background:
    image: url('../../components/development-options/development-options.jpg')
    position: center
    repeat: no-repeat
    size: cover
  padding:
    top: 5rem
  margin:
    bottom: 10rem
  &:after
    content: ''
    background:
      color: rgba(4, 5, 20, .66)
    position: absolute
    pointer-events: none
    left: 0
    right: 0
    top: 0
    bottom: 0
  .title
    margin:
      bottom: 0
/*eo Разработка - варианты воплощения*/