extends ../base/index
include ../../components/teaser/index
include ../../components/form/index

block title
	| Наши решения
block content
	+teaser({
		title: 'Готовые решения <br> для мероприятий',
		sectionClass: 'teaser_solutions',
		text: 'У нас есть приложения и игры для любого типа мероприятий и аудитории. Специализированные решения для детей и VIP-клиентов.',
		teaserImgClass: 'teaser-img-2'
	})
	include ../../components/our-guarantees/index
	+form({
		img: 1,
		title: 'Получите презентацию',
		subtitle: 'с решением для вашего мероприятия'
	})
	include ../../components/examples/index
	include ../../components/additional-services/index
	include ../../components/how-it-works/index
	include ../../components/find-out-more/index
	include ../../components/our-customers/index