@import varialbes
/*global styles*/
body
  font:
    size: 16px
    family: 'Rubik', sans-serif
  min-width: $mobile
  transition: opacity $common-transition-duration
  +media-query($desktop)
    min-width: $desktop
  &.locked
    overflow: hidden

.d-none
  display: none

.no-scroll
  overflow: hidden

.btn
  display: flex
  align-items: center
  justify-content: center
  font:
    size: 12px
    weight: 400
  color: $white-color
  +border-radius
  cursor: pointer
  +hoverOpacity
  height: 32px
  width: 156px
  +media-query($desktop)
    width: auto
    padding: 0 1.145rem
    height: 48px
    font:
      size: inherit

.btn_accent
  background:
    color: $accent-color

.btn_emerald
  background:
    color: $emerald-color

.btn_white
  background:
    color: $white-color
  color: $black-color
  border: 1px solid #C6DCE2

input, textarea
  &::placeholder
    color: #BDBDBD
    transition: $common-transition-duration
  &:focus
    &::placeholder
      opacity: 0

.input
  height: 48px
  +input

.textarea
  height: 129px
  +input
  resize: none

.wrapper
  display: flex
  justify-content: center
  width: 100%
  overflow: hidden

.wrapper__inner
  width: $mobile
  padding: 0 20px
  +media-query($desktop)
    width: $desktop

.title
  text-transform: uppercase
  font:
    size: 27px
    family: 'Bebas Neue', sans-serif
  color: $black-color
  margin:
    bottom: 1.5rem
  +media-query($desktop)
    text-align: center
    font:
      size: 50px
    margin:
      bottom: 2rem


.title_light
  color: #DDDDDD

.title_white
  color: $white-color

.title_big
  font:
    family: 'Bebas Neue', sans-serif
    size: 27px
  color: $black-color
  text-transform: uppercase
  line-height: 30px
  letter-spacing: 0.02rem
  text-align: center
  br
    content: ' '
  +media-query($desktop)
    text-align: left
    font:
      size: 60px
    line-height: 66px
    br
      content: none

.padding-top
  padding:
    top: 70px
  +media-query($desktop)
    padding:
      top: 7rem

.padding-bottom
  padding:
    bottom: 2rem
  +media-query($desktop)
    padding:
      bottom: 7rem


.link
  +hoverOpacity
  font:
    size: 10px
    weight: 700
  color: $accent-color
  letter-spacing: .02rem
  +media-query($desktop)
    letter-spacing: 0
    font:
      size: inherit

.link_thin
  font:
    weight: 400

/*eo global styles*/
