@import varialbes
/*global styles*/
body
  font:
    size: 16px
    family: 'Rubik', sans-serif
  min-width: $min-width
  transition: opacity $common-transition-duration

.d-none
  display: none

.no-scroll
  overflow: hidden

.btn
  display: flex
  align-items: center
  justify-content: center
  font:
    weight: 400
  color: $white-color
  +border-radius
  cursor: pointer
  +hoverOpacity
  height: 48px
  padding: 0 1.145rem

.btn_accent
  background:
    color: $accent-color

.btn_white
  background:
    color: $white-color
  color: $black-color
  border: 1px solid #C6DCE2

input
  &::placeholder
    transition: $common-transition-duration

  &:focus
    &::placeholder
      color: transparent

.wrapper
  display: flex
  justify-content: center
  width: 100%

.wrapper__inner
  width: $min-width
  padding: 0 20px
// адаптив?
//+media-query($max-width_desktop-min)
//  width: $max-width_desktop-min
//+media-query($max-width_desktop-max)
//  width: $max-width_desktop-max

.title
  font:
    size: 50px
    family: 'Bebas Neue', sans-serif
  color: $black-color
  text-align: center
  margin:
    bottom: 3.7rem

.title_big
  font:
    family: 'Bebas Neue', sans-serif
    size: 60px
  color: $black-color
  text-transform: uppercase
  line-height: 66px
  letter-spacing: 0.02rem

.margin-top
  margin-top: 3.3rem

.link
  +hoverOpacity
  font:
    weight: 700
  color: $accent-color

/*eo global styles*/
