//colors
$accent-color: #EF4C4C
$secondary-color: #f7b740
$error-color: #ff0000
$gray-color: #798189
$gray-light-color: #F4F6F8
$black-color: #000000
$white-color: #ffffff

//etc
$min-width: 1200px
$common-transition-duration: .2s

//breakpoints
$max-width_desktop-min: 1280px
$max-width_desktop-max: 1920px


//mixin
=media-query($breakpoint)
  @media (min-width: $breakpoint)
    @content

=border-radius($radius: 3px)
  border-radius: $radius

=hoverOpacity
  transition: $common-transition-duration
  &:hover
    opacity: .6

=hoverScale()
  transform: scale(1.2)

=input
  padding: .844rem 1rem
  border: 1px solid #CCCCCC
  +border-radius(2px)