extends ../base/index
include ../../components/header/index
include ../../components/teaser/index
include ../../components/industrial-tiles/index
include ../../components/development-services/index
include ../../components/form/index

block title
	| Индустриальные решения

block header
	+header({
		white: false
	})

block content
	+teaser({
		title: 'ВНЕДРЕНИЕ ПРОДУКТОВ С VR/AR <br> ДЛЯ КОНКРЕТНЫХ ОТРАСЛЕЙ',
		sectionClass: 'teaser_rent',
		text: 'Специализированные решения с использованием технологий виртуальной и дополненной реальности',
		teaserImgClass: 'teaser-img-4'
	})
	+industrialTiles({
		tiles: [
			{
				title: 'Недвижимость',
				id: 'house',
				tilesBig: true,
				image: 'industrial-tiles-real-estate.png'
			},
			{
				title: 'Производство',
				id: 'production',
				image: 'industrial-tiles-1.jpg'
			},
			{
				title: 'Маркетинг',
				id: 'thumbs-up',
				image: 'industrial-tiles-2.jpg'
			},
			{
				title: 'Обучение',
				id: 'idea',
				tilesBig: true,
				image: 'industrial-tiles-learning.png'
			}
		]
	})
	//+developmentServices({
	//	title: 'ПРЕИМУЩЕСТВА VR',
	//	services: [
	//		{
	//			title: 'Эффект присутствия',
	//			id: 'location'
	//		},
	//		{
	//			title: 'Полное погружение',
	//			id: 'diving'
	//		},
	//		{
	//			title: '100% симуляция ситуаций',
	//			id: 'gears'
	//		},
	//		{
	//			title: 'Взаимодействие с предметами',
	//			id: 'interact'
	//		},
	//		{
	//			title: 'Легкость в использовании',
	//			id: 'feather'
	//		},
	//		{
	//			title: 'Подключение доп. оборудования',
	//			id: 'device'
	//		}
	//	]
	//})
	//include ../../components/industrial-tiles-big/index
	//+form({
	//	img: 3,
	//	title: 'Получите презентацию',
	//	subtitle: 'с решением для вашего мероприятия'
	//})
	//include ../../components/it-might-be-interesting/index
