extends ../base/index
include ../../components/header/index
include ../../components/teaser/index
include ../../components/industrial-tiles/index
include ../../components/development-services/index
include ../../components/form/index

block title
	| Индустриальные решения

block header
	+header({
		white: false
	})

block content
	+teaser({
		title: 'ВНЕДРЕНИЕ ПРОДУКТОВ С VR/AR <br> ДЛЯ КОНКРЕТНЫХ ОТРАСЛЕЙ',
		sectionClass: 'teaser_rent',
		text: 'Специализированные решения с использованием технологий виртуальной и дополненной реальности',
		teaserImgClass: 'teaser-img-4'
	})
	+industrialTiles({
		tiles: [
			{
				title: 'Недвижимость',
				id: 'house'
			},
			{
				title: 'Производство',
				id: 'production'
			},
			{
				title: 'Маркетинг',
				id: 'thumbs-up'
			},
			{
				title: 'Обучение',
				id: 'idea'
			}
		]
	})
	+developmentServices({
		title: 'ПРЕИМУЩЕСТВА VR',
		services: [
			{
				title: 'Эффект присутствия',
				id: 'location'
			},
			{
				title: 'Полное погружение',
				id: 'diving'
			},
			{
				title: '100% симуляция ситуаций',
				id: 'gears'
			},
			{
				title: 'Взаимодействие с предметами',
				id: 'interact'
			},
			{
				title: 'Легкость в использовании',
				id: 'feather'
			},
			{
				title: 'Подключение доп. оборудования',
				id: 'device'
			}
		]
	})
	include ../../components/industrial-tiles-big/index
	+form({
		img: 3,
		title: 'Получите презентацию',
		subtitle: 'с решением для вашего мероприятия'
	})
	include ../../components/it-might-be-interesting/index
