mixin form-wrapper(params)
	-var {opacity, title, subtitle, img, mobileImg} = params
	section.form-wrapper.wrapper.padding-bottom(class={'form-wrapper_opacity': opacity, 'mobile-background': mobileImg} style=`background: linear-gradient(180deg, rgba(32, 16, 66, 0.6) 0%, rgba(20, 39, 48, 0) 100%), url(${require(`../../components/form-wrapper/form-wrapper-background-${img}.jpg`)}); background-size: cover; background-position: center;`)
		.form-wrapper__title.title(class={'form-wrapper__title_with-subtitle': subtitle})=title
		-if(subtitle)
			.form-wrapper__subtitle=subtitle
		block