@import "../../styles/varialbes"

.industrial-tile
  .btn
    display: none
  +media-query($desktop)
    height: 494px
    .btn
      display: flex

.industrial-tile-option
  display: flex
  align-items: center
  flex-flow: column
  position: relative
  padding:
    top: 0
  +media-query($desktop)
    padding:
      top: 5rem

.industrial-tile-option__image
  position: absolute
  min-width: 100%
  left: 0
  top: 0
  height: 100%
  pointer-events: none

.industrial-tile-option__title
  position: relative
  z-index: 1
  margin:
    bottom: 0
  display: none
  +media-query($desktop)
    display: block
