@import "../../styles/varialbes"

.development-services-wrapper
  display: flex
  flex-wrap: wrap
  justify-content: space-between

.development-services__service
  display: flex
  align-items: center
  width: 30%
  &:not(:nth-of-type(n + 4))
    margin:
      bottom: 6rem

.development-services__icon
  fill: $accent-color

.development-services__service-title
  font:
    size: 20px
    weight: 700
  letter-spacing: -.02rem
  color: #252525
  margin:
    left: 1rem

.man-vr-ico
  width: 125px
  height: 125px

.joystick-ico
  width: 125px
  height: 125px

.man-video-ico
  width: 125px
  height: 125px

.man-present-ico
  width: 124px
  height: 125px

.ar-ico
  width: 125px
  height: 119px

.unusual-ico
  width: 119px
  height: 125px