@import "../../styles/varialbes"

.development-services
  padding:
    bottom: 48px
  &.industrial-services
    margin:
      top: 20px
    .wrapper__inner
      margin: 0 20px
      padding:
        top: 44px
        bottom: 8px
      border: 1px solid #E6E6E6
      +border-radius()
    .development-services-wrapper
      padding: 0
    .development-services__service-title
      text-transform: uppercase
      letter-spacing: 0
  +media-query($desktop)
    padding:
      top: 9rem
      bottom: 7rem
    &.industrial-services
      margin:
        top: 0
      .wrapper__inner
        border: none
        margin: 0
        padding:
          top: 0
          bottom: 0
      .development-services-wrapper
        padding: 0 10px
      .development-services__service-title
        text-transform: none
        letter-spacing: -.02rem

.development-services-wrapper
  display: flex
  flex-flow: column
  margin:
    top: 35px
  padding: 0 10px
  +media-query($desktop)
    padding: 0
    flex-flow: row wrap
    justify-content: space-between
    margin:
      top: 4.5rem

.development-services__service
  display: flex
  align-items: center
  margin:
    bottom: 22px
  +media-query($desktop)
    width: 30%
    margin:
      bottom: 0
    &:not(:nth-of-type(n + 4))
      margin:
        bottom: 6rem

.development-services__icon
  fill: $accent-color

.development-services__service-title
  font:
    size: 11px
    weight: 700
  letter-spacing: .05rem
  color: #252525
  margin:
    left: 8px
  line-height: 14px
  +media-query($desktop)
    line-height: 1.3
    letter-spacing: -.02rem
    font:
      size: 20px
    margin:
      left: 1rem

.man-vr-ico
  width: 61px
  height: 61px
  +media-query($desktop)
    width: 125px
    height: 125px

.joystick-ico
  width: 59px
  height: 56px
  +media-query($desktop)
    width: 125px
    height: 125px

.man-video-ico
  width: 53px
  height: 50px
  +media-query($desktop)
    width: 125px
    height: 125px

.man-present-ico
  width: 64px
  height: 60px
  +media-query($desktop)
    width: 124px
    height: 125px

.ar-ico
  width: 66px
  height: 59px
  +media-query($desktop)
    width: 125px
    height: 119px

.unusual-ico
  width: 58px
  height: 57px
  +media-query($desktop)
    width: 119px
    height: 125px

.location-ico
  width: 26px
  height: 37px
  +media-query($desktop)
    width: 64px
    height: 91px

.diving-ico
  width: 52px
  height: 52px
  +media-query($desktop)
    width: 101px
    height: 100px

.gears-ico
  width: 46px
  height: 46px
  +media-query($desktop)
    width: 106px
    height: 106px

.interact-ico
  width: 54px
  height: 56px
  +media-query($desktop)
    width: 102px
    height: 105px

.feather-ico
  width: 43px
  height: 43px
  +media-query($desktop)
    width: 103px
    height: 102px

.device-ico
  width: 45px
  height: 46px
  +media-query($desktop)
    width: 103px
    height: 103px

.development-services__service-icon
  display: flex
  justify-content: center
  width: 4.1rem
  +media-query($desktop)
    display: block
    width: auto