mixin services(services)
	.development-services-wrapper
		-for(var service of services)
			-var {title, id} = service
				.development-services__service
					.development-services__service-icon
						+svgIco({
							id: id,
							className: 'development-services__icon'
						})
					.development-services__service-title=title

mixin developmentServices(props)
	-var {title, services} = props
	section.development-services.wrapper.padding-bottom
		.wrapper__inner
			h2.title=title
			+services(services)