include ../tile/index

mixin tiles(props)
	-var {tiles} = props
	.tiles
		-for(var tile of tiles)
			-var {title, image} = tile
			+tile({
				title: title
			})
				img.tile__img(src=require(`../../components/for-marketing-development/for-marketing-development-${image}.jpg`))

section.for-marketing-development.wrapper.padding-top
	.for-marketing-development__wrapper-inner.wrapper__inner
		h2.title Разработка приложений и игр
	+tiles({
		tiles: [
			{
				title: 'VR-игра для “Илим”',
				image: '1'
			},
			{
				title: 'Готовые решения для мероприятий',
				image: '2'
			},
			{
				title: 'Индустриальные решения с VR/AR',
				image: '3'
			}
		]
	})