include ../tile/index

mixin tiles(cnt)
	.tiles
		-for(var i = 0; i < cnt; i++)
			+tile({
				title: 'Grid Dynamics'
			})
				img.tile__img(src=require(`../../components/solutions/solutions.png`))

section.for-marketing-development.wrapper.padding-top
	.for-marketing-development__wrapper-inner.wrapper__inner
		h2.title vr/ar для маркетинга
	+tiles(3)