@import "../../styles/varialbes"

.our-guarantees
  padding:
    top: 7rem
  .title
    margin:
      bottom: 4rem

.our-guarantees__list
  display: flex
  flex-wrap: wrap
  justify-content: space-between

.our-guarantees__icon
  width: 6.2rem
  height: 8.2rem
  fill: $accent-color
  &.paper-ico
    width: 4.2rem
    margin:
      right: 1rem
      left: 1rem

.our-guarantees__list-item
  display: flex
  align-items: center
  width: 33%
  margin:
    bottom: 3rem

.our-guarantees__list-item-content
  display: flex
  flex-flow: column
  margin:
    left: 1.5rem

.our-guarantees__list-item-content-title
  color: #252525
  line-height: 1.2
  margin:
    bottom: .5rem
  font:
    size: 20px
    weight: 700
  letter-spacing: -.02rem

.our-guarantees__list-item-content-text
  color: $gray-color
  line-height: 1.3
