@import "../../styles/varialbes"

.for-marketing-tiles-wrapper
  display: flex
  flex-wrap: wrap

.for-marketing-tile
  height: 318px
  display: flex
  flex-flow: column
  justify-content: flex-end
  width: 50%
  position: relative
  color: $white-color
  overflow: hidden

  &:hover
    .for-marketing-tile__image
      +hoverScale

  &:nth-of-type(odd)
    align-items: center

.for-marketing-tile__image
  transition: $common-transition-duration
  position: absolute
  left: 0
  pointer-events: none
  min-width: 100%

.for-marketing-tile__content
  padding: 2rem 2.5rem
  display: flex
  flex-flow: column
  width: 60%

.for-marketing-tile__title
  position: relative
  z-index: 1
  margin:
    bottom: 6rem
  font:
    size: 26px

.for-marketing-tile__link
  position: relative
  z-index: 1
