@import "../../styles/varialbes"

.for-marketing-tiles
  margin:
    bottom: 51px
  +media-query($desktop)
    margin:
      bottom: 0

.for-marketing-tiles-wrapper
  display: flex
  flex-flow: column
  width: 100%
  +media-query($desktop)
    flex-flow: row wrap

.for-marketing-tile
  display: flex
  flex-flow: column
  justify-content: center
  align-items: center
  width: 100%
  height: 81px
  position: relative
  color: $white-color
  overflow: hidden
  +media-query($desktop)
    justify-content: flex-end
    height: 318px
    width: 50%
    align-items: flex-start
    &:nth-of-type(odd)
      align-items: center
    &:hover
      .for-marketing-tile__image
        +hoverScale

.for-marketing-tile__image
  transition: $common-transition-duration
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  pointer-events: none
  width: 100%
  +media-query($desktop)
    width: auto
    min-width: 100%
    left: 0
    top: 0
    transform: none

.for-marketing-tile__content
  display: flex
  flex-flow: column
  align-items: center
  width: 60%
  text-align: center
  +media-query($desktop)
    align-items: flex-start
    text-align: left
    padding: 2rem 2.5rem

.for-marketing-tile__title
  position: relative
  z-index: 1
  font:
    size: 11px
    weight: 700
  text-align: center
  +media-query($desktop)
    text-align: left
    margin:
      bottom: 6rem
    font:
      weight: inherit
      size: 26px

.for-marketing-tile__link
  position: relative
  z-index: 1
  display: none
  +media-query($desktop)
    display: block
