extends ../base/index
include ../../components/teaser/index
include ../../components/form/index
include ../../components/header/index

block title
	| Sintez event

block header
	+header({
		white: false
	})

block content
	+teaser({
		title: 'ВИРТУАЛЬНАЯ <br> И ДОПОЛНЕННАЯ <br> РЕАЛЬНОСТЬ ДЛЯ БИЗНЕСА',
		sectionClass: 'teaser_index',
		text: 'Предлагаем полный спектр решений с VR и AR: от аренды оборудования до разработки уникальных приложений',
		teaserImgClass: 'teaser-img-1'
	})
	include ../../components/tiles/index
	include ../../components/what-we-created/index
	include ../../components/reviews/index
	+form({
		img: 1,
		title: 'Связаться с командой'
	})
	include ../../components/find-out-more/index
	//include ../../components/our-customers/index