extends ../base/index

block title
	| Sintez
block content
	include ../../components/teaser/index
	include ../../components/tiles/index
	include ../../components/what-we-created/index
	include ../../components/reviews/index
	include ../../components/form/index
	include ../../components/find-out-more/index