extends ../base/index
include ../../components/teaser/index
include ../../components/form/index
include ../../components/header/index
include ../../components/simple-form/index

block title
	| Блог

block header
	+header({
		white: false,
		active: 'blog'
	})

block content
	+teaser({
		title: 'vr-блог',
		withoutLinks: true,
		sectionClass: 'teaser_form',
		form: true,
		teaserInnerClassName: 'teaser__inner_simple-form'
	})
		+simpleForm
	include ../../components/blog-tiles/index