@import "../../styles/varialbes"

.for-marketing-solutions
  display: flex
  flex-flow: column
  .tile
    pointer-events: none

.for-marketing-solutions__wrapper-inner
  width: 100%
  text-align: center