include ../fancy-title/index

mixin aboutStats(stats)
	.about__stats-wrapper
		.about__stats
			-for(var stat of stats)
				.about__stat
					.about__stat-title=stat.title
					.about__stat-description !{stat.description}

section.about.wrapper
	+fancyTitle({
		title: 'О нас',
		white: true
	})
	+aboutStats([
		{
			title: '30 000',
			description: 'человек погрузились <br> в виртуальную реальность <br> благодаря нам'
		},
		{
			title: '107',
			description: 'едениц <br> оборудования <br> в наличии'
		},
		{
			title: '500',
			description: 'мероприятий за 3 года <br> существования <br> компании'
		},
		{
			title: '300+',
			description: 'компаний - <br> закачиков'
		}
	])