extends ../base/index
include ../../components/form/index
include ../../components/header/index

block title
	| Связаться

block header
	+header({
		white: true,
		active: 'contact'
	})

block content
	include ../../components/contact/index