mixin nav(links, active)
	nav.header__nav
		ul.header__nav-list
			-for(var link of links)
				li.header__nav-list-item
					a.header__nav-list-item-link(href=link.href class={'active': link.label === active})=link.title

mixin telNumbers(numbers)
	.header__tel
		-for(var number of numbers)
			a.header__tel-item(href=`tel:${number.href}`)=number.title

mixin header(props)
	-var {white, active} = props
	header.header.wrapper(class={'header_white': white})
		.header__inner.wrapper__inner
			.header__side.header__side-left
				a.header__logo-wrapper(href="/")
					if(white)
						img.header__logo(src=require(`../../components/header/logo_white.png`))
					else
						img.header__logo(src=require(`../../components/header/logo.png`))
				+nav([
					{
						title: 'Наши услуги',
						href: '/services.html',
						label: 'services',
					},
					{
						title: 'Портфолио',
						href: '/portfolio.html',
						label: 'portfolio'
					},
					{
						title: 'О нас',
						href: '/about.html',
						label: 'about'
					},
					{
						title: 'Блог',
						href: '/blog.html',
						label: 'blog'
					},
					{
						title: 'Связаться',
						href: '/contact.html',
						label: 'contact'
					}
				],
				active)
			.header__side
				+telNumbers([
					{
						href: '+74951184399',
						title: '+7 (495) 118-43-99'
					},
					{
						href: '+78124251388',
						title: '+7 (812) 425-13-88'
					}
				])
				a(href="/btn").header__proposal.btn.btn_accent Оставить заявку