@import "../../styles/varialbes"

.form
  display: flex
  flex-flow: column
  background:
    color: $white-color
  +border-radius
  padding: 2.6rem 2.9rem
  position: relative
  z-index: 1

.form_opacity
  box-shadow: 0px 7px 63px rgba(25, 16, 50, 0.21)

.form__fieldset
  display: flex

.form__title
  font:
    weight: 700
  text-align: center
  line-height: 1.2
  margin:
    bottom: 1.4rem

.form__input
  background:
    color: $white-color
  width: 100%
  margin:
    bottom: 1.2rem

.form__btn
  margin: auto
