section.carousel.margin-top.wrapper
	.carousel__inner
		h2.title Что мы создавали?
		.swiper-outer
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.swiper-slide__img-wrapper
							img.swiper-slide__img(src=require(`../../components/what-we-created/what-we-created-1.png`) alt="")
						.swiper-slide__text-wrapper
							.swiper-slide__title Разработка домашнего VR-кинотеатра
							.swiper-slide__text Очки дополненной реальности имеют не очень хорошую репутацию, когда речь заходит о конфиденциальности. Тем не менее, исследователи из Университета Северной Каролины считают, что это устройство может на самом деле обеспечить отличную конфиденциальность владельцу через канал связи.
							.swiper-slide__bottom
								a.link(href="/slide").swiper-slide__link Подробнее
					.swiper-slide
						.swiper-slide__img-wrapper
							img.swiper-slide__img(src=require(`../../components/what-we-created/what-we-created-2.png`) alt="")
						.swiper-slide__text-wrapper
							.swiper-slide__title Разработка домашнего VR-кинотеатра
							.swiper-slide__text Очки дополненной реальности имеют не очень хорошую репутацию, когда речь заходит о конфиденциальности. Тем не менее, исследователи из Университета Северной Каролины считают, что это устройство может на самом деле обеспечить отличную конфиденциальность владельцу через канал связи.
							.swiper-slide__bottom
								a.link(href="/slide").swiper-slide__link Подробнее
					.swiper-slide
						.swiper-slide__img-wrapper
							img.swiper-slide__img(src=require(`../../components/what-we-created/what-we-created-1.png`) alt="")
						.swiper-slide__text-wrapper
							.swiper-slide__title Разработка домашнего VR-кинотеатра
							.swiper-slide__text Очки дополненной реальности имеют не очень хорошую репутацию, когда речь заходит о конфиденциальности. Тем не менее, исследователи из Университета Северной Каролины считают, что это устройство может на самом деле обеспечить отличную конфиденциальность владельцу через канал связи.
							.swiper-slide__bottom
								a.link(href="/slide").swiper-slide__link Подробнее
					.swiper-slide
						.swiper-slide__img-wrapper
							img.swiper-slide__img(src=require(`../../components/what-we-created/what-we-created-2.png`) alt="")
						.swiper-slide__text-wrapper
							.swiper-slide__title Разработка домашнего VR-кинотеатра
							.swiper-slide__text Очки дополненной реальности имеют не очень хорошую репутацию, когда речь заходит о конфиденциальности. Тем не менее, исследователи из Университета Северной Каролины считают, что это устройство может на самом деле обеспечить отличную конфиденциальность владельцу через канал связи.
							.swiper-slide__bottom
								a.link(href="/slide").swiper-slide__link Подробнее
			.swiper__arrow.swiper__arrow_prev
			.swiper__arrow.swiper__arrow_next
