include ../carousel-with-cards/index

+carouselWithCards({
	sectionClass: 'carousel-with-background',
	title: 'Узнайте больше',
	carouselTitle: true,
	subtitle: 'про виртуальную и дополненную реальность',
	carouselLinkContent: 'Больше статей'
})
	.carousel__background