include ../carousel-with-cards/index

+carouselWithCards({
	sectionClass: 'find-out-more',
	title: 'Узнайте больше',
	carouselTitle: true,
	subtitle: 'про виртуальную и дополненную реальность',
	carouselLinkContent: 'Больше статей'
})
	.find-out-more__background