doctype html
html(lang='ru')
	head
	meta(charset='utf-8')
	meta(name='viewport', content="initial-scale=1, maximum-scale=1 width=device-width")
	link(href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap&subset=cyrillic" rel="stylesheet")
	title
		block title
	body(style="opacity: 0;")
		include ../../mixins/index
		block header
		include ../../components/side-menu/index
		include ../../components/fixed-header/index
		include ../../components/overlay/index
		main.main
			block content
		.d-none
			include ../../components/svg/index
		include ../../components/footer/index