section.our-customers.wrapper.padding-bottom
	.wrapper__inner
		h2.title.title_light Наши клиенты
		.our-customers__logos
			.our-customers__logo
				.sprite.sprite-sberbank
			.our-customers__logo
				.sprite.sprite-alpha
			.our-customers__logo
				.sprite.sprite-raifaizen
			.our-customers__logo
				.sprite.sprite-home-credit-bank
			.our-customers__logo
				.sprite.sprite-renessans
			.our-customers__logo
				.sprite.sprite-yandex
			.our-customers__logo
				.sprite.sprite-gazprom
			.our-customers__logo
				.sprite.sprite-rt
			.our-customers__logo
				.sprite.sprite-porsche
			.our-customers__logo
				.sprite.sprite-geely
			.our-customers__logo
				.sprite.sprite-volkswagen
			.our-customers__logo
				.sprite.sprite-hyundai
			.our-customers__logo
				.sprite.sprite-rzd
			.our-customers__logo
				.sprite.sprite-Ilim
			.our-customers__logo
				.sprite.sprite-adidas
			.our-customers__logo
				.sprite.sprite-handm
			.our-customers__logo
				.sprite.sprite-danone
			.our-customers__logo
				.sprite.sprite-rive-gauche
			.our-customers__logo
				.sprite.sprite-baltica
			.our-customers__logo
				.sprite.sprite-mts
			.our-customers__logo
				.sprite.sprite-megafon
			.our-customers__logo
				.sprite.sprite-bilain
			.our-customers__logo
				.sprite.sprite-tele2
			.our-customers__logo
				.sprite.sprite-stihl
			.our-customers__logo
				.sprite.sprite-expo
			.our-customers__logo
				.sprite.sprite-dlt
			.our-customers__logo
				.sprite.sprite-crocus
			.our-customers__logo
				.sprite.sprite-delovye
			.our-customers__logo
				.sprite.sprite-gruz
			.our-customers__logo
				.sprite.sprite-redmond
			.our-customers__logo
				.sprite.sprite-fitness-house
			.our-customers__logo
				.sprite.sprite-macallan
			.our-customers__logo
				.sprite.sprite-kellogg
			.our-customers__logo
				.sprite.sprite-dell
			.our-customers__logo
				.sprite.sprite-wunderpark
			.our-customers__logo
				.sprite.sprite-epam
			.our-customers__logo
				.sprite.sprite-osko
			.our-customers__logo
				.sprite.sprite-ginza
			.our-customers__logo
				.sprite.sprite-sapsan
			.our-customers__logo
				.sprite.sprite-lanit