mixin members(cnt)
	.our-team__members
		-for(var i = 0; i < cnt; i++)
			.our-team__member
				.our-team__members-image-wrapper
					img.our-team__members-image(src=require(`../../components/our-team/member.jpg`) alt="")
				.our-team__members-name Николай
				.our-team__members-position директор, соучредитель
				a(href="mailto:start@sintezevent.ru").our-team__members-email start@sintezevent.ru
				if(i%2 === 1)
					a(href="tel:+7***********").our-team__members-tel +7***********
				a(href="https://www.facebook.com/anisimovstory").our-team__members-social fb.com/anisimovstory

section.our-team.wrapper.padding-top
	.wrapper__inner
		h2.title.title_white Наша команда
		+members(7)